.card {
    width: 20rem;
    display: flex;
    margin: 5px;
    cursor: pointer;
}

img {
    width: 140px;
    height: 140px;
    margin: 10px auto;
}

h6 {
    margin: 0px;
    color: #343a40;
    font-size: 12px;
    font-family: 'Arial';
    font-style: normal;
}

h5 {
    margin: 0px;
    color: #343a40;
    font-size: 14px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    margin-bottom: 6px;
}

.card-best-price {
    color: red;
}

.card-normal-price {
    color: #343a40;
}

.btn-primary {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF6F1E;
    border-color: #FF6F1E;
}

.card-title {
    margin-bottom: 8px;
}

h2{
    margin-top: 10px;
    margin-left: 2rem;
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    color: #2D5C88;
}