.col-sm-4{
    margin: 100px;
}

.container{
    background-color: #83AEC8;
    margin: 60px;
    margin-left: 300px;
    max-width: 1320px;
    max-height: 900px;
    box-shadow: 0 0 5px 5px white inset;
}

button{
    margin: 10px;
    
}

#volverboton{
    background-color: grey;
}

#calcularboton{
    background-color: #FF6F1E;
}

td{
    text-align: center;
}

th{
    text-align: center;
}