<div class="row">
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Supermercado 1</th>
                <th scope="col">Supermercado 2</th>
                <th scope="col">Supermercado 3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Producto 1</th>
                <td>$1000</td>
                <td>$1000</td>
                <td>$999</td>
              </tr>
              <tr>
                <th scope="row">Producto 2</th>
                <td>$1000</td>
                <td>$1000</td>
                <td>$1999</td>
              </tr>
              <tr>
                <th scope="row">Producto 3</th>
                <td>$1000</td>
                <td>$1000</td>
                <td>$2999</td>
              </tr>
              <tr>
                <th scope="row">Producto 4</th>
                <td>$1000</td>
                <td>No disponible</td>
                <td>$2999</td>
              </tr>
              <tr>
                <th scope="row">Producto 5</th>
                <td>$1000</td>
                <td>$1000</td>
                <td>$2999</td>
              </tr>
              <tr>
                <th scope="row">Producto 6</th>
                <td>$1000</td>
                <td>$1000</td>
                <td>$2999</td>
              </tr>
              <tr>
                <th scope="row">Producto 7</th>
                <td>$1000</td>
                <td>$1000</td>
                <td>$2999</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button type="submit" [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn btn" id="volverboton">Volver</button>
            <button type="submit" [routerLink]="['/cart']" routerLinkActive="router-link-active"  class="btn btn" id="calcularboton">Calcular</button>
        </div>
    </div>
</div>