.header-image {
    max-width: 5rem;
    max-height: 3rem;
}

.col-table {
    flex: 0 0 auto;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
}

.image-product {
    height: 100px;
    width: 100px;
}

.container {
    max-width: 800px;
}

.details-product {
    padding-left: 0;
    padding-top: 2rem;
    color: #343a40;
}

h5 {
    margin: 0px;
    font-size: 16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
}

h6 {
    margin: 0px;
    font-size: 14px;
    font-family: 'Arial';
    font-style: normal;
}

.prices-supermarket {
    min-width: 150px;
}

.mat-icon {
    padding-top: 3px;
}

.oferta {
    color: #2c962c;
}

.no-distribuye {
    color: #d60b0b;
}

.no-stock {
    color: #dbc00b;
}

.best-total-price {
    color: #2c962c;
}

h2 {
    margin-top: 30px;
    color: #1e211f;
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
}

.btn-primary {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF6F1E;
    border-color: #FF6F1E;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-danger {
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.buttons {
    padding-top: 4rem;
}

.alert-cart {
    padding-top: 13%;
    padding-bottom: 14%;
    font-weight: 600;
    font-size: 24px;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    margin-left: 0;
    color: #ffffff;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
    display: inline;
    color: #1e211f;
}

.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    color: #1e211f;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
    background-color: #1e211f;
    color: #ffffff;
}

.pagination a:focus {
    background-color: #1e211f;
    color: #ffffff;
}


.pagination .active a {
    color: #ffffff;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    background-color: #f5f5f5;
    cursor: default;
}

.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pager {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
    text-align: center;
    color: #1e211f;
    *zoom: 1;
}

.pager:before,
.pager:after {
    display: table;
    content: "";
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
    color: #1e211f;
}

.pager a {
    display: inline-block;
    padding: 5px 14px;
    color: #1e211f;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

.pager .next a {
    float: right;
}

.pager .previous a {
    float: left;
}

.pager .disabled a,
.pager .disabled a:hover {
    color: #999999;
}

.alert-add-product {
    position: fixed;
    top: 0px; 
    left: 0px;
}

.cart{
    min-height: 40rem;
}