<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="{{Producto.imagen}}" alt="Card image cap">
        </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <div class="name-product">
              <h5 class="card-title">{{Producto.nombre}}</h5>
            </div>
            <br>
            <div class="category-product">
              <span class="features-product">Categoria: </span>
              <span>{{Producto.categoria}}</span>
            </div>
            <div class="brand-product">
              <span class="features-product">Marca: </span>
              <span>{{Producto.marca}}</span>
            </div>
            <div class="type-product">
              <span class="features-product">Tipo de producto: </span>
              <span>{{Producto.tipo}}</span>
            </div>
            <br>
            <div class="description-product">
              <span class="features-product">Descripción: </span>
              <span class="card-text">{{Producto.descripcion}}</span>
            </div>
            <br>
            <div class="ingredients-product" *ngIf="exists_ingredients(Producto.ingredientes)">
              <span class="features-product">Ingredientes: </span>
              <span class="card-text">{{Producto.ingredientes}}</span>
            </div>
        </div>
      </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Supermercado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Precio Normal</th>
                <th scope="col">Oferta</th>
                <th scope="col">Disponible</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of ListaSuperProducto">
                <td><a href="{{row.url_product}}">{{row.supermercado}}</a></td>
                <td>{{row.fecha}}</td>
                <td>${{row.precio_normal}}</td>
                <td>${{row.precio_oferta}}</td>
                <td>${{row.disponibilidad}}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button id="agregarboton" type="submit" [routerLink]="['/cart']" routerLinkActive="router-link-active"  class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>