.col-sm-4{
    margin: 100px;
}

a:hover {
    text-decoration: underline;
}

.container{
    margin: 100px;
}

.card-body {
    text-align: justify;
}

.features-product {
    font-size: 1rem;
    font-weight: 700;
}

a {
    color:inherit;
    text-decoration:none;
}