<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <p style="color: #FFFFFF">SOLO<span style="color: #FF6F1E">MERCADOS</span></p>
        </a>

        <form class="d-flex" role="search">
            <input id="input_search" class="form-control me-1" type="search" placeholder="Busque aquí el producto que desee..." aria-label="Search">
            <button class="btn btn-outline-light" type="submit" [routerLink]="['/buscar']" routerLinkActive="router-link-active" ><mat-icon id="icon_search">search</mat-icon></button>
        </form> 
        
        <div class="nav-bar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-outline-light" type="submit" [routerLink]="['/cart']" routerLinkActive="router-link-active" ><mat-icon id="carrito">add_shopping_cart</mat-icon></button>
                    <button class="btn btn-outline-light" type="submit" [routerLink]="['/login']" routerLinkActive="router-link-active" ><mat-icon id="login">account_circle</mat-icon></button>
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <mat-icon id="list">list</mat-icon>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li *ngFor="let categoria of ListaCategorias">
                            <a class="dropdown-item" href="{{categoria.id_categoria}}" [routerLink]="['/categoria', categoria.id_categoria]">{{categoria.categoria}}</a>
                          </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>




