<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <p style="color: #FFFFFF">SOLO<span style="color: #FF6F1E">MERCADOS</span></p>
        </a>

        <form class="d-flex" role="search">
            <input id="input_search" class="form-control me-1" type="search" placeholder="Busque aquí el producto que desee..." aria-label="Search">
            <button class="btn btn-outline-light" type="submit" [routerLink]="['/buscar']" routerLinkActive="router-link-active" ><mat-icon id="icon_search">search</mat-icon></button>
        </form> 
        
        <div class="nav-bar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-outline-light" type="submit" [routerLink]="['/cart']" routerLinkActive="router-link-active" ><mat-icon id="carrito">add_shopping_cart</mat-icon></button>
                    <button class="btn btn-outline-light" type="submit" [routerLink]="['/login']" routerLinkActive="router-link-active" ><mat-icon id="login">account_circle</mat-icon></button>
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <mat-icon id="list">list</mat-icon>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Quesos y Fiambres</a></li>
                          <li><a class="dropdown-item" href="#">Panadería y Pastelería</a></li>
                          <li><a class="dropdown-item" href="#">Desayuno y Dulces</a></li>
                          <li><a class="dropdown-item" href="#">Congelados</a></li>
                          <li><a class="dropdown-item" href="#">"Vinos, Cervezas y Licores"</a></li>
                          <li><a class="dropdown-item" href="#">Bebé</a></li>
                          <li><a class="dropdown-item" href="#">Mascotas</a></li>
                          <li><a class="dropdown-item" href="#">Hogar</a></li>
                          <li><a class="dropdown-item" href="#">Pescadería</a></li>
                          <li><a class="dropdown-item" href="#">Comidas Preparadas</a></li>
                          <li><a class="dropdown-item" href="#">Bebidas Vegetales</a></li>
                          <li><a class="dropdown-item" href="#">Lácteos</a></li>
                          <li><a class="dropdown-item" href="#">Despensa</a></li>
                          <li><a class="dropdown-item" href="#">Frutas y Verduras</a></li>
                          <li><a class="dropdown-item" href="#">Carnicería</a></li>
                          <li><a class="dropdown-item" href="#">Limpieza</a></li>
                          <li><a class="dropdown-item" href="#">Botillería</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        
        
        
    </div>
</nav>




