<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>{{Categoria.categoria}}</h2>
            <div class="container">
                <div *ngFor="let producto of ListaProductos">
                    <div class="card products" [routerLink]="['/details', producto.id_producto]" routerLinkActive="router-link-active">
                        <div class="info-product" [routerLink]="['/inicio']">
                            <img class="card-img-top" src="{{producto.imagen}}" alt="">
                            <div class="card-body">
                                <p class="brand">{{producto.marca}}</p>
                                <p class="name-product">{{producto.nombre}}</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="agregarboton" type="submit" [routerLink]="['/cart']" routerLinkActive="router-link-active"  class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>